<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="..static/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Поиск постов</h1>
        <form action="/main/search" method="get">
            <p>По вхождению слова</p>
            <input name="s" type="text">
            <input class="button" type="submit" value="Найти">
        </form>
        <hr>
        <a class="button" href="post_form.html">Добавить пост</a>
    </main>

</body>
</html>
