<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реузльтаты поиска </title>
    <link href="..static/style.css" rel="stylesheet">
</head>
<body>
<main>
    <a class="link" href="index.html">Назад</a>
    <h1>Посты по запросу '{{ search_by}}'</h1>
    {% for post in posts %}
    <div class="post">
        <img alt="" src="{{ post.pic }}" width="200px">
        <p>{{ post.content }}</p>
    </div>
    <hr>
    {% endfor %}
    <a class="button" href="post_form.html">Добавить пост</a>
</main>
</body>
</html>